html{
 
    margin:0px;
 
}
 
.headersquare {
margin:-45px;
z-index:-1000;
max-height:250px;
max-width:auto;
}
 
body {
    
    background-image:url("https://googledrive.com/host/0BycVMAgih7rERWJXUEVKdFEySHM/whitebg.png");
	background-repeat:repeat-y repeat-x;
	text-align:center;
    margin:0px;
}
 
.headerimage {
	margin:-224px;
	z-index:-1
}
  
 
h1, h2 /*This controls all listed headings. (h1, h2, h3...etc)*/
{ 
    font-family: Duke, Mensch, Sans-Serif;
    color:#aed2a2;
    font-size: 50px;
    text-transform:uppercase;
   
}
 
p /*This controls all body text*/
{  /*If the first font name is not available, CSS will proceed through names until one works */  
  font-family: Gotham, Sans-Serif;
  font-size: 11px;
  color:#000000;
  letter-spacing: 1.5px; 
 
}
 
a /*This controls all links (anchors)*/
{
  font-family: Gotham, Helvetica, Sans-Serif;
   font-size: 14px;
  color: #000;
  text-transform:uppercase;
    z-index:1000
}
 

#slideshow { 
    margin: 50px auto; 
    top: 270px;
    position: relative; 
    width: 650px; 
    height: 500px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}


#slideshow > div { 
    position: absolute;
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.headersquare {
    background-image: url(https://googledrive.com/host/0BycVMAgih7rERWJXUEVKdFEySHM/headersquare.png);
}
